// COLORS

//header-nav
$navBgColor: rgba(255, 87, 0,0.35);
$navBgColorScrolled: rgba(255, 87, 0, 0.95);

// fonts
$whiteFont: rgba(255, 255, 255, 0.5) !important;
$whiteFontHover: rgba(255, 255, 255, 0.75) !important;
$darkFont: rgba(0, 0, 0, 0.5) !important;
$darkFontHover: rgba(0, 0, 0, 0.75) !important;

//SIZING
$translation:translate(-50%, -50%);

//HEADER
